/* CSS style file */

* {
    margin: 0;
    padding: 0;
    /*outline: 1px red solid;*/
}

body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    padding: 30px;
}

img {
    display: block;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding: 30px;
    text-decoration-line: underline;
}

ul {
    padding: 10px;
    width: 60%;
    margin: 0 auto;
}

ul li {
    list-style: none;
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

ul li  a {
    background-color: yellow;
    text-decoration: none;
    padding: 8px;
    border-radius: 3px;
}